// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './palettes/default-palettes' as *;
@use './color-vars/default-vars';
@use 'sass:map';

.default-theme {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: $primary-palette,
        tertiary: $tertiary-palette,
      ),
      typography: var(--bodyfont),
      density: 0,
    )
  );

  .primary {
    @include mat.theme(
      (
        color: $primary-palette,
      )
    );
  }

  .tertiary {
    @include mat.theme(
      (
        color: $tertiary-palette,
      )
    );
  }

  .error {
    @include mat.theme(
      (
        color: $error-palette,
      )
    );
  }
}
