<form [formGroup]="form" (ngSubmit)="resetPassword()">
  <div class="my-5 text-center">
    <p class="font-bold">{{ 'authentication.newPassword' | translate }}</p>
  </div>
  <div class="flex flex-col gap-5">
    <mat-form-field subscriptSizing="dynamic" appFieldControlLabel>
      <mat-label>
        {{ 'authentication.newPassword' | translate }}
      </mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        autocomplete="new-password"
      />
      <mat-error
        app-form-control-error
        [errors]="form.controls.password.errors"
      />
    </mat-form-field>
    <mat-form-field appFieldControlLabel>
      <mat-label>
        {{ 'authentication.passwordConfirmation' | translate }}
      </mat-label>
      <input
        matInput
        type="password"
        formControlName="confirmPassword"
        autocomplete="new-password"
      />
      <mat-error
        app-form-control-error
        [errors]="form.controls.confirmPassword.errors"
      />
    </mat-form-field>
    <button
      mat-flat-button
      class="mb-2"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ 'commun.save' | translate }}
    </button>
    @if (error()?.messageToShow; as messageToShow) {
      <div class="bg-error rounded-md p-2 text-center text-white">
        {{ messageToShow }}
      </div>
    }
  </div>
</form>
