<form [formGroup]="form" (ngSubmit)="forgotPassword()">
  <div class="text-center">
    <p class="font-bold">
      {{ 'authentication.resetPassword' | translate }}
    </p>
    <p class="my-5">
      {{ 'authentication.putYourLoginToReinitializePassword' | translate }}
    </p>
  </div>
  <div class="flex flex-col">
    <mat-form-field appFieldControlLabel>
      <mat-label>{{ 'authentication.login' | translate }}</mat-label>
      <input matInput formControlName="email" />
      <mat-error
        app-form-control-error
        [errors]="form.controls.email.errors"
        pattern="email"
      />
    </mat-form-field>
    <div class="my-2 flex justify-center gap-2.5">
      <button
        type="button"
        class="flex-1"
        mat-raised-button
        (click)="goToLogin()"
      >
        {{ 'commun.cancel' | translate }}
      </button>
      <button
        class="flex-1"
        mat-flat-button
        type="submit"
        [disabled]="!form.valid || !!remainingTime()"
      >
        {{ 'commun.send' | translate }}
      </button>
    </div>
    @if (remainingTime()) {
      <div class="bg-error rounded-md p-2 text-center text-white">
        {{ 'authentication.tooManyRequest' | translate }} :
        {{ displayRemainingTime() }}
      </div>
    }
    @if (!remainingTime() && errorMessage()?.messageToShow; as messageToShow) {
      <div class="bg-error rounded-md p-2 text-center text-white">
        {{ messageToShow }}
      </div>
    }
    @if (successMessage(); as successMessage) {
      <div class="bg-success rounded-md p-2 text-center text-white">
        {{ successMessage }}
      </div>
    }
  </div>
</form>
