@use '@angular/material' as mat;

/*
@include mat.expansion-overrides(
  (
    // container-background-color: var(--mat-sys-surface),
  )
);
.mat-expansion-panel-content-wrapper {
  //  background-color: var(--mat-sys-surface);
}
*/
