@use '@angular/material' as mat;

@include mat.toolbar-overrides(
  (
    container-background-color: var(--mat-sys-tertiary),
    container-text-color: var(--mat-sys-on-tertiary),
    mobile-height: 64px,
  )
);

.mat-toolbar {
  box-shadow: 1px 0 10px rgb(0 0 0 / 50%);
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
      state-layer-color: var(--mat-sys-on-primary),
    )
  );
}
