:root {
  --bodyfont: 'Poppins', sans-serif;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --success: #4caf50;
  --breakpoint-xs: 599.98px;
  --breakpoint-sm: 959.98px;
  --breakpoint-md: 1279.98px;
  --breakpoint-lg: 1919.98px;
  --breakpoint-xl: 2399.98px;
  --breakpoint-2xl: 2999.98px;
}
